# Ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore directories
Recursos/
Pruebas/
Data/

# Ignore files
Data/pip_list.txt
!Data/Formatted/btcusd_fmttd.csv

# Ignore python env directory
env/

# Ignore files
TODO.txt
